<h1><%= collection["name"] %></h1>

<ol>
  <% for site in collection.sites %>
    <li class="site" data-id="<%= site.id %>"><a href="/sites/<%= site.id %>"><%= site["domain"] %></a> -- <%= site["title"] %></li>
  <% end %>
</ol>
